{{!-- CHAT --}}
<div class="w-75 mx-auto mt-5 prodList">
    <h1>Porcentaje de compresión:</h1>
    <p id="compresion"></p>
    <h2>Chat</h2>
    <form id="form2">
        <div class="form-group">
            <input placeholder="Ingresar email" id="email" class="form-control" type="email" name="email">
        </div>
        <div class="form-group">
            <input placeholder="Ingresar nombre" id="nombre" class="form-control" type="text" name="nombre">
        </div>
        <div class="form-group">
            <input placeholder="Ingresar apellido" id="apellido" class="form-control" type="text" name="apellido">
        </div>
        <div class="form-group">
            <input placeholder="Ingresar edad" id="edad" class="form-control" type="number" name="edad">
        </div>
        <div class="form-group">
            <input placeholder="Ingresar alias" id="alias" class="form-control" type="text" name="alias">
        </div>
        <div class="form-group">
            <input placeholder="Ingresar URL de avatar" id="avatar" class="form-control" type="url" name="avatar">
        </div>
        <div class="form-group">
            <input placeholder="Escribe algo..." id="mensaje" class="form-control" type="text" name="mensaje">
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>
    <div id="msg"></div>
</div>

