{{!-- LISTA PRODUCTOS --}}
<h2 class="w-75 mt-3">Productos generados por Faker</h2>
<div class="w-75 mx-auto mt-5 prodList">
    {{#if full}}
        <table class="table table-success" id="table1">
            <tr class="h3"> <th>Nombre</th> <th>Precio</th> <th>Thumbnail</th> </tr>
        </table>
        {{else}}
        <h3 class="alert alert-danger">No existen productos</h3>
    {{/if}}
</div>

{{!-- CHAT --}}
<div class="w-75 mx-auto mt-5 prodList">
    <h2>Chat</h2>
    <form id="form2">
        <div class="form-group">
            <input placeholder="Ingresar Email" id="email" class="form-control" type="email" name="email">
        </div>
        <div class="form-group">
            <input placeholder="Escribe algo..." id="mensaje" class="form-control" type="text" name="mensaje">
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>
    <div id="msg"></div>
</div>

