.alias {
    color: blue;
    font-weight: bold;
    width: 25%;
}

.date {
    color: brown;
}

.mensaje {
    color: green;
    font-style: italic;
    width: 70%;
}

.mensaje-box {
    margin: 0 0 0 10%;
}
